<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422854269370-avv1icpskectt3fo4qphm0ds35mb9snm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422854269370-avv1icpskectt3fo4qphm0ds35mb9snm</string>
	<key>API_KEY</key>
	<string>AIzaSyByEI5Ni9G-wGXZK8PqVsJiRX5yW4fqzM8</string>
	<key>GCM_SENDER_ID</key>
	<string>422854269370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoTripsApp</string>
	<key>PROJECT_ID</key>
	<string>demotripsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>demotripsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422854269370:ios:a5df199e00f70e9f626583</string>
</dict>
</plist>